## Pandas - библиотека для анализа данных

In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 660.6 kB/s eta 0:00:18
   ---------------------------------------- 0.0/11.5 MB 660.6 kB/s eta 0:00:18
   ---------------------------------------- 0.0/11.5 MB 660.6 kB/s eta 0:00:18
   ---------------------------------------- 0.0/11.5 MB 179.6 kB/s eta 0:01:04
   ---------------------------------------- 0.1/11.5 MB 262.6 kB/s eta 0:00:44
   ---------------------------------------- 0.1/11.5 MB 386.4 kB/s eta 0:00:30
   ---------------------------------------- 0.1/11.5 MB 380.5 kB/s eta 0:00:30
   ---------------------------------------- 0.1/11.5 MB 380.5 kB/s eta 0:00:30
    --------------------------------------- 0.2/11.5 MB 403.5 kB/s eta 0:00:29
    --------------------------------------- 0.2/11.5 MB 474.7 kB/s eta 0:00:24
    --------------------------------------- 0.3/11.5 MB 491.5 kB/s eta 0:00:23
    --------------------------------------- 0.3/11.5 MB 491.5 kB/s eta 0:00:23
    --------------------------------------- 0.3/11.5 MB 449.0 kB/s eta 0:00:25
   - -------------------------------------- 0.3/11.5 MB 496.0 kB/s eta 0:00:23
   - -------------------------------------- 0.4/11.5 MB 518.9 kB/s eta 0:00:22
   - -------------------------------------- 0.4/11.5 MB 527.7 kB/s eta 0:00:22
   - -------------------------------------- 0.4/11.5 MB 527.7 kB/s eta 0:00:22
   - -------------------------------------- 0.4/11.5 MB 519.4 kB/s eta 0:00:22
   - -------------------------------------- 0.5/11.5 MB 561.7 kB/s eta 0:00:20
   -- ------------------------------------- 0.6/11.5 MB 667.1 kB/s eta 0:00:17
   -- ------------------------------------- 0.6/11.5 MB 689.3 kB/s eta 0:00:16
   -- ------------------------------------- 0.7/11.5 MB 675.9 kB/s eta 0:00:16
   -- ------------------------------------- 0.8/11.5 MB 781.0 kB/s eta 0:00:14
   --- ------------------------------------ 1.0/11.5 MB 904.9 kB/s eta 0:00:12
   ---- ----------------------------------- 1.2/11.5 MB 1.1 MB/s eta 0:00:10
   ---- ----------------------------------- 1.2/11.5 MB 1.0 MB/s eta 0:00:10
   ---- ----------------------------------- 1.4/11.5 MB 1.1 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.5 MB 1.4 MB/s eta 0:00:08
   ------- -------------------------------- 2.2/11.5 MB 1.6 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/11.5 MB 1.7 MB/s eta 0:00:06
   --------- ------------------------------ 2.8/11.5 MB 1.9 MB/s eta 0:00:05
   ----------- ---------------------------- 3.4/11.5 MB 2.2 MB/s eta 0:00:04
   ------------- -------------------------- 4.0/11.5 MB 2.6 MB/s eta 0:00:03
   ---------------- ----------------------- 4.6/11.5 MB 2.9 MB/s eta 0:00:03
   ----------------- ---------------------- 4.9/11.5 MB 3.0 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.5 MB 3.3 MB/s eta 0:00:02
   --------------------- ------------------ 6.2/11.5 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.6/11.5 MB 3.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.2/11.5 MB 3.9 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.5 MB 4.0 MB/s eta 0:00:02
   ------------------------------------- -- 10.8/11.5 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.5 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 8.0 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 10.5 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

- объект класса Series

In [3]:
# Series создает 1-мерный массив данных
#  создание на базе списка
s_1 = pd.Series([4,95,22,36])
s_1

0     4
1    95
2    22
3    36
dtype: int64

In [7]:
# создание на базе словаря
d_1 = {'a':100, 5:8, 65:14}
s_2 = pd.Series(d_1)
s_2

a     100
5       8
65     14
dtype: int64

In [8]:
# явные индексы
s_1[0]

4

In [11]:
s_2[5]

8

In [10]:
s_2['a']

100

In [12]:
# не явные индексы
# атрибут индексатор для не явных индексов
s_1.iloc[0]

4

In [14]:
s_2.iloc[0]

100

In [15]:
s_2.shape

(3,)

In [16]:
s_2.values

array([100,   8,  14], dtype=int64)

In [23]:
# данные по населению городов Якутии (pop - популяция, dictinory - библиотека)
pop_d = {
    "Yakutsk": 341658,
    "Neryungri": 52415,
    "ffffff": 41654,
    "oolko.lk": 52827,
    "fnhkiul": 74278,
    "Viliuysk": 10531
}
pop_s = pd.Series(pop_d)
pop_s

Yakutsk      341658
Neryungri     52415
ffffff        41654
oolko.lk      52827
fnhkiul       74278
Viliuysk      10531
dtype: int64

In [19]:
pop_s["Neryungri"]

52415

In [24]:
pop_s["Neryungri":"Viliuysk"]

Neryungri    52415
ffffff       41654
oolko.lk     52827
fnhkiul      74278
Viliuysk     10531
dtype: int64

- Объекты класса DataFrame

In [34]:
area_d = {
    "oolko.lk": 44444,
    "Neryungri": 22222,
    "Yakutsk": 11111,
    "ffffff": 33333,
    "fnhkiul": 55555,
    "Viliuysk": 66666
}
area_s = pd.Series(area_d)
area_s

oolko.lk     44444
Neryungri    22222
Yakutsk      11111
ffffff       33333
fnhkiul      55555
Viliuysk     66666
dtype: int64

In [35]:
ykt_df = pd.DataFrame({"population": pop_s, "area": area_s})
ykt_df

           population   area
Neryungri       52415  22222
Viliuysk        10531  66666
Yakutsk        341658  11111
ffffff          41654  33333
fnhkiul         74278  55555
oolko.lk        52827  44444

In [36]:
# данные из столбца
ykt_df["area"]

Neryungri    22222
Viliuysk     66666
Yakutsk      11111
ffffff       33333
fnhkiul      55555
oolko.lk     44444
Name: area, dtype: int64

In [37]:
# данные из строки, среза по столбцам
ykt_df.loc["ffffff", :]

population    41654
area          33333
Name: ffffff, dtype: int64

In [38]:
# данные из строки, среза по столбцам выборочный
ykt_df.loc["ffffff","population"]

41654

In [39]:
direct_d = {
    "oolko.lk": 'jjj',
    "Neryungri": 'ggg',
    "Yakutsk": 'hhh',
    "ffffff": 'vvv',
    "fnhkiul": 'sss',
    "Viliuysk": 'aaa'
}
ykt_df["direction"] = direct_d
ykt_df

           population   area direction
Neryungri       52415  22222       ggg
Viliuysk        10531  66666       aaa
Yakutsk        341658  11111       hhh
ffffff          41654  33333       vvv
fnhkiul         74278  55555       sss
oolko.lk        52827  44444       jjj

In [42]:
# срез по строкам и прихотливая индексация по столбцам
ykt_df.loc["ffffff":, ["population", "direction"]]

          population direction
ffffff         41654       vvv
fnhkiul        74278       sss
oolko.lk       52827       jjj

In [43]:
# маскирование
mask = ykt_df["population"] > 50000
mask

Neryungri     True
Viliuysk     False
Yakutsk       True
ffffff       False
fnhkiul       True
oolko.lk      True
Name: population, dtype: bool

In [44]:
# маскирование по строкам и срез по столбцам
ykt_df.loc[mask, :]

           population   area direction
Neryungri       52415  22222       ggg
Yakutsk        341658  11111       hhh
fnhkiul         74278  55555       sss
oolko.lk        52827  44444       jjj