## Анализ данных по Covid 19

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### загрузка данных

In [5]:
df_0 = pd.read_csv("data/covid_19_data.csv")
df_0.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [6]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [8]:
# смотрим последнюю дату
df_0['ObservationDate'].iloc[-1]

'05/29/2021'

In [7]:
df_0.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [10]:
# конвертация временных данных
lastdate = '05/29/2021'
pd.to_datetime(lastdate).date()

datetime.date(2021, 5, 29)

In [13]:
df_1 = df_0.copy ()

df_1['ObservationDate']= pd.to_datetime(df_1['ObservationDate'])
df_1['ObservationDate'][0]

Timestamp('2020-01-22 00:00:00')

In [19]:
# по-элементно меняем тип данных дат
def get_date(ts):
    return ts.date()
df_1['ObservationDate'] = df_1['ObservationDate'].apply(get_date)
df_1['ObservationDate'][0]

datetime.date(2020, 1, 22)

In [20]:
# удаление ненужных столбцов
df_2 = df_1.drop(['SNo','Last Update'], axis=1)
df_2.head()

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      2020-01-22          Anhui  Mainland China        1.0     0.0        0.0
1      2020-01-22        Beijing  Mainland China       14.0     0.0        0.0
2      2020-01-22      Chongqing  Mainland China        6.0     0.0        0.0
3      2020-01-22         Fujian  Mainland China        1.0     0.0        0.0
4      2020-01-22          Gansu  Mainland China        0.0     0.0        0.0

In [24]:
# проверка на дубликаты
df_2.duplicated().sum()

0

In [23]:
# удаление дубликата
df_2 = df_2.drop_duplicates()

In [28]:
# изучаем названия стран
df_2['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'China', 'Kiribati', 'Singapore',
       'Philippines', 'Malaysia', 'Vietnam', 'Australia', 'Mexico',
       'Brazil', 'Colombia', 'France', 'Nepal', 'Canada', 'Cambodia',
       'Sri Lanka', 'Ivory Coast', 'Germany', 'Finland',
       'United Arab Emirates', 'India', 'Italy', 'UK', 'Russia', 'Sweden',
       'Spain', 'Belgium', 'Others', 'Egypt', 'Iran', 'Israel', 'Lebanon',
       'Iraq', 'Oman', 'Afghanistan', 'Bahrain', 'Kuwait', 'Austria',
       'Algeria', 'Croatia', 'Switzerland', 'Pakistan', 'Georgia',
       'Greece', 'North Macedonia', 'Norway', 'Romania', 'Denmark',
       'Estonia', 'Netherlands', 'San Marino', 'Azerbaijan', 'Belarus',
       'Iceland', 'Lithuania', 'New Zealand', 'Nigeria', 'North Ireland',
       'Ireland', 'Luxembourg', 'Monaco', 'Qatar', 'Ecuador',
       'Czech Republic', 'Armenia', 'Dominican Republic', 'Indonesia',
       'Portugal', 'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia',
       'Senegal', 'Argentina', 'Chile', 'Jordan', 'Ukraine',
       'Saint Barthelemy', 'Hungary', 'Faroe Islands', 'Gibraltar',
       'Liechtenstein', 'Poland', 'Tunisia', 'Palestine',
       'Bosnia and Herzegovina', 'Slovenia', 'South Africa', 'Bhutan',
       'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia', 'Togo',
       'Vatican City', 'French Guiana', 'Malta', 'Martinique',
       'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh',
       'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei',
       'occupied Palestinian territory', 'Burkina Faso',
       'Channel Islands', 'Holy See', 'Mongolia', 'Panama', 'Bolivia',
       'Honduras', 'Congo (Kinshasa', 'Jamaica', 'Reunion', 'Turkey',
       'Cuba', 'Guyana', 'Kazakhstan', 'Cayman Islands', 'Guadeloupe',
       'Ethiopia', 'Sudan', 'Guinea', 'Antigua and Barbuda', 'Aruba',
       'Kenya', 'Uruguay', 'Ghana', 'Jersey', 'Namibia', 'Seychelles',
       'Trinidad and Tobago', 'Venezuela', 'Curacao', 'Eswatini', 'Gabon',
       'Guatemala', 'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Samoa', 'Syria', 'Timor-Leste', 'Belize',
       'Laos', 'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho', 'Solomon Islands', 'Marshall Islands',
       'Vanuatu', 'Micronesia'], dtype=object)

In [27]:
# исправление списка
df_2['Country/Region'] = df_2['Country/Region'].str.strip(" ,()'")

In [29]:
# изучаем страну others - фильтрация данных
df_2.loc[df_2['Country/Region'] == "Others", :]

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
965,2020-02-07,Cruise Ship,Others,61.0,0.0,0.0
1039,2020-02-08,Cruise Ship,Others,61.0,0.0,0.0
1113,2020-02-09,Diamond Princess cruise ship,Others,64.0,0.0,0.0
1181,2020-02-10,Diamond Princess cruise ship,Others,135.0,0.0,0.0
1255,2020-02-11,Diamond Princess cruise ship,Others,135.0,0.0,0.0
1328,2020-02-12,Diamond Princess cruise ship,Others,175.0,0.0,0.0
1403,2020-02-13,Diamond Princess cruise ship,Others,175.0,0.0,0.0
1479,2020-02-14,Diamond Princess cruise ship,Others,218.0,0.0,0.0
1554,2020-02-15,Diamond Princess cruise ship,Others,285.0,0.0,0.0
1628,2020-02-16,Diamond Princess cruise ship,Others,355.0,0.0,0.0
1704,2020-02-17,Diamond Princess cruise ship,Others,454.0,0.0,0.0
1779,2020-02-18,Diamond Princess cruise ship,Others,542.0,0.0,0.0
1854,2020-02-19,Diamond Princess cruise ship,Others,621.0,0.0,1.0
1931,2020-02-20,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2010,2020-02-21,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2096,2020-02-22,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2182,2020-02-23,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2270,2020-02-24,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2362,2020-02-25,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2458,2020-02-26,Diamond Princess cruise ship,Others,705.0,4.0,10.0
2561,2020-02-27,Diamond Princess cruise ship,Others,705.0,4.0,10.0
2669,2020-02-28,Diamond Princess cruise ship,Others,705.0,6.0,10.0
2785,2020-02-29,Diamond Princess cruise ship,Others,705.0,6.0,10.0
2907,2020-03-01,Diamond Princess cruise ship,Others,705.0,6.0,10.0
3034,2020-03-02,Diamond Princess cruise ship,Others,705.0,6.0,10.0
3177,2020-03-03,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3330,2020-03-04,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3492,2020-03-05,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3667,2020-03-06,Diamond Princess cruise ship,Others,696.0,6.0,40.0
3870,2020-03-07,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4097,2020-03-08,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4355,2020-03-09,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4623,2020-03-10,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4831,2020-03-11,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5050,2020-03-12,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5315,2020-03-13,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5508,2020-03-14,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5762,2020-03-15,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6023,2020-03-16,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6298,2020-03-17,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6577,2020-03-18,Diamond Princess cruise ship,Others,712.0,7.0,325.0
6865,2020-03-19,Diamond Princess cruise ship,Others,712.0,7.0,325.0
7161,2020-03-20,Diamond Princess cruise ship,Others,712.0,7.0,325.0
7467,2020-03-21,Diamond Princess cruise ship,Others,712.0,8.0,325.0
7922,2020-03-22,Diamond Princess cruise ship,Others,712.0,8.0,567.0
8225,2020-03-23,Diamond Princess cruise ship,Others,712.0,8.0,567.0

In [31]:
# группировка данных по странам и датам (по иерархии индексов)
cd_data = df_2.groupby(['Country/Region', 'ObservationDate'])[['Confirmed', 'Deaths', 'Recovered']].sum()
cd_data.head(10)

                                Confirmed  Deaths  Recovered
Country/Region ObservationDate
Afghanistan    2020-02-24             1.0     0.0        0.0
               2020-02-25             1.0     0.0        0.0
               2020-02-26             1.0     0.0        0.0
               2020-02-27             1.0     0.0        0.0
               2020-02-28             1.0     0.0        0.0
               2020-02-29             1.0     0.0        0.0
               2020-03-01             1.0     0.0        0.0
               2020-03-02             1.0     0.0        0.0
               2020-03-03             2.0     0.0        0.0
               2020-03-04             4.0     0.0        0.0

In [33]:
# данные макс (количество всех заболевших, погибших и выздоровивших) по странам
max_data = cd_data.groupby("Country/Region")[['Confirmed', 'Deaths', 'Recovered']].max()
max_data.head(30)

                         Confirmed    Deaths   Recovered
Country/Region
Afghanistan                70111.0    2899.0     57281.0
Albania                   132297.0    2449.0    129215.0
Algeria                   128456.0    3460.0     89419.0
Andorra                    13693.0     127.0     13416.0
Angola                     34180.0     757.0     27646.0
Antigua and Barbuda         1259.0      42.0      1206.0
Argentina                3732263.0   77108.0   3288467.0
Armenia                   222555.0    4428.0    212752.0
Aruba                          4.0       0.0         0.0
Australia                  30096.0     910.0     23579.0
Austria                   644207.0   10592.0    627672.0
Azerbaijan                333723.0    4903.0    323617.0
Bahamas                    11745.0     229.0     10642.0
Bahamas, The                   4.0       0.0         0.0
Bahrain                   235698.0     939.0    205962.0
Bangladesh                797386.0   12549.0    737408.0
Barbados                    4012.0      47.0      3922.0
Belarus                   392629.0    2831.0    383380.0
Belgium                  1059763.0   24921.0     31130.0
Belize                     12791.0     324.0     12378.0
Benin                       8058.0     101.0      7893.0
Bhutan                      1603.0       1.0      1241.0
Bolivia                   366714.0   14435.0    291325.0
Bosnia and Herzegovina    203839.0    9211.0    174236.0
Botswana                   53771.0     831.0     50494.0
Brazil                  16471600.0  461057.0  14496224.0
Brunei                       241.0       3.0       228.0
Bulgaria                  418221.0   17657.0    380359.0
Burkina Faso               13430.0     166.0     13248.0
Burma                     143526.0    3216.0    132297.0

In [38]:
# сортировка данных по определенному столбцу
max_data.sort_values("Deaths", ascending=False).head(10)

                 Confirmed    Deaths   Recovered
Country/Region
US              33251939.0  594306.0   6399531.0
Brazil          16471600.0  461057.0  14496224.0
India           27894800.0  325972.0  25454320.0
Mexico           2411503.0  223455.0   1924865.0
UK               4496823.0  128037.0     15481.0
Italy            4213055.0  126002.0   3845087.0
Russia           4995613.0  118781.0   4616422.0
France           5978650.0  109518.0    390878.0
Germany          3684672.0   88413.0   3479700.0
Colombia         3363061.0   87747.0   3141549.0

In [39]:
# группировка данных по датам по всему миру
w_data = df_2.groupby('ObservationDate')[['Confirmed', 'Deaths', 'Recovered']].sum()
w_data.head()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           557.0    17.0       30.0
2020-01-23           653.0    17.0       32.0
2020-01-24           941.0    26.0       39.0
2020-01-25          1437.0    42.0       42.0
2020-01-26          2118.0    56.0       56.0

In [ ]:
# визуализация динамики пандемии по всему миру
plt.figure(figsize=(12,8))

In [14]:
df_0.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')